header {
  background-color: #2B0059;
  height: 10%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Hind', sans-serif; }

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  font-family: 'Hind', sans-serif;
  display: inline-block;
  margin-left: 10%; }

.title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0; }

.container-options {
  margin-right: 10%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around; }

.option a {
  margin: .5rem;
  font-size: 1.2rem;
  color: #fff; }

.option:hover {
  position: relative; }
  .option:hover:after {
    content: "";
    width: 80%;
    height: 2px;
    position: absolute;
    bottom: 5px;
    left: 10%;
    right: 10%;
    border-radius: 20px;
    background-color: #fff; }

@media screen and (max-width: 800px) {
  .title {
    font-size: 1rem; }
  .container-options {
    background-color: #2B0059;
    width: 100%;
    height: 90%;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    right: 0;
    top: 10%;
    margin: 0;
    position: absolute;
    z-index: 9999; }
  .option {
    width: 40%;
    margin: 20px auto; } }
