* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

body, html {
  height: 100%;
  max-width: 100%; }

header {
  background-color: #2B0059;
  height: 10%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Hind', sans-serif; }

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  font-family: 'Hind', sans-serif;
  display: inline-block;
  margin-left: 10%; }

.title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0; }

.container-options {
  margin-right: 10%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around; }

.option a {
  margin: .5rem;
  font-size: 1.2rem;
  color: #fff; }

.option:hover {
  position: relative; }
  .option:hover:after {
    content: "";
    width: 80%;
    height: 2px;
    position: absolute;
    bottom: 5px;
    left: 10%;
    right: 10%;
    border-radius: 20px;
    background-color: #fff; }

.main {
  height: 90%;
  background: #2B0059;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.glitch {
  margin-top: -50px; }

.description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  margin-top: -20px; }

.icons {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px; }

.icons li {
  font-size: 1.5rem; }

.icons li a {
  color: #fff; }

.scroll-down {
  position: relative;
  margin-top: 40px;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in; }
  .scroll-down::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%) rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px; }

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); } }

.glitch {
  font-size: 10rem;
  font-family: 'Hind', sans-serif;
  font-weight: 700;
  text-align: center;
  transform: translate(0%, 0%);
  color: #F5F5F5; }

.glitch:before, .glitch:after {
  display: block;
  content: 'Hello!';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8; }

.glitch::after {
  color: #f0f;
  z-index: -2;
  animation: glitch 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite; }

.glitch:before {
  color: #0ff;
  z-index: -1;
  animation: glitch 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite; }

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-5px, 5px);
    transform: translate(-5px, 5px); }
  40% {
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px); }
  60% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px); }
  80% {
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

.projects {
  min-height: 100%; }

.projects_title {
  font-family: 'Hind', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 30px auto;
  color: #2B0059; }

.language {
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 10%;
  font-size: 1.8rem; }

#project {
  display: block;
  width: 80%;
  margin: auto 10%; }

.repo_link {
  text-decoration: none; }

.repo {
  border-bottom: 1px solid #999;
  padding: 30px;
  color: #666;
  transition: transform 200ms;
  transform: translateX(0px) translateY(0px); }
  .repo:hover {
    border-bottom: 1px solid #5000A5;
    color: #5000A5;
    text-decoration: none;
    transform: translateX(8px) translateY(0px); }

.repo_title {
  font-family: 'Hind', sans-serif;
  font-size: 3rem;
  font-weight: 700; }

.repo_description {
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif; }
