.projects {
  min-height: 100%; }

.projects_title {
  font-family: 'Hind', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 30px auto;
  color: #2B0059; }

.language {
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 10%;
  font-size: 1.8rem; }

#project {
  display: block;
  width: 80%;
  margin: auto 10%; }

.repo_link {
  text-decoration: none; }

.repo {
  border-bottom: 1px solid #999;
  padding: 30px;
  color: #666;
  transition: transform 200ms;
  transform: translateX(0px) translateY(0px); }
  .repo:hover {
    border-bottom: 1px solid #5000A5;
    color: #5000A5;
    text-decoration: none;
    transform: translateX(8px) translateY(0px); }

.repo_title {
  font-family: 'Hind', sans-serif;
  font-size: 3rem;
  font-weight: 700; }

.repo_description {
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif; }
