.projects {
  min-height: 60%;
}

.projects .projects_title {
  font-family: 'Hind', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin: 30px auto;
}

.projects .language {
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  margin: 5px;
}

.projects .repo_link {
  text-decoration: none;
}

.projects .repo_link .repo {
  border-bottom: 1px solid #999;
  padding: 30px;
  color: #666;
  transition: transform 200ms;
  transform: translateX(0px) translateY(0px);
}

.projects .repo_link .repo:hover {
  border-bottom: 1px solid #8C0E85;
  color: #8C0E85;
  text-decoration: none;
  transform: translateX(8px) translateY(0px);
}

.projects .repo_link .repo .repo_title {
  font-family: 'Hind', sans-serif;
  font-size: 4rem;
  font-weight: 700;
}

.projects .repo_link .repo .repo_description {
  font-size: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
}
