.skills {
  min-height: 100%; }

.skills_title {
  font-family: 'Hind', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 30px auto;
  color: #2B0059; }

.skills_table {
  display: block;
  width: 70%;
  margin: 0 auto;
  overflow-x: hidden; }
  .skills_table table {
    color: #666; }
    .skills_table table th {
      font-family: 'Hind', sans-serif;
      font-weight: 700; }
    .skills_table table td {
      font-family: 'Source Sans Pro', sans-serif; }
