html, body {
  height: 100%;
  max-width: 100%;
}

header {
  background-color: #2B0059;
  height: 20%;
  color: #fff;
}

header .title {
  font-family: 'Hind', sans-serif;
  padding: 2% 3%;
  margin: 0;
  font-size: 2.2rem;
  font-weight: 300;
}

.main {
  height: 80%;
  background-color: #2B0059;
  color: #fff;
}

.glitch {
  font-size: 15rem;
  font-family: 'Hind', sans-serif;
  font-weight: 700;
	margin-top: 10%;
  text-align: center;
  transform: translate(0%, 0%);
  color: #F5F5F5;
}

.glitch:before, .glitch:after {
  display: block;
  content: 'Hello!';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
}

.glitch:after {
  color: #f0f;
  z-index: -2;
	animation: glitch 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

.glitch:before {
  color: #0ff;
  z-index: -1;
	animation: glitch 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 5px);
    transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  80% {
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.main .description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

.main .social-icons {
  margin-top: 1%;
}

.main .social-icons .icons li {
  display: inline-block;
  margin-right: 15px;
}

.main .social-icons .icons li a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  top: 125px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.projects {
  height: 100%;
  min-height: 60%;
}

.projects .projects_title {
  font-family: 'Hind', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin: 30px auto;
}

.projects .language {
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  margin: 5px;
}

.projects .repo_title {
  font-family: 'Hind', sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;
}

.projects .repo {
  border-bottom: 1px solid #999;
  padding: 5px;
}

.projects .repo .repo_title a {
  color: #333;
}

.projects .repo .repo_title a:hover {
  color: #8C0E85;
}

.projects .repo .repo_description {
  font-family: 'Source Sans Pro', sans-serif;
}
