body {
  background-color: #039BE5;
  font-family: 'Roboto', sans-serif;
}

.card {
  position: absolute;
  top: 50px;
  margin-top: auto;
  box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
}
.card-title{
  width: 100%;
}

.card-title .title{
  margin: 0;
  line-height: 60px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.card-title .username{
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

h2{
  margin: 3px;
  font-size: 1.8rem;
  text-align: center;
  color: #666;
  font-weight: 300;
}

.btn {
  background-color: #0277BD;
  margin: 5px;
}

.btn:hover{
  background-color: #F44336;
}

.social-icons{
    margin-top: 3%;
}
.social-icons .icons li {
    display: inline-block;
    margin: 1%;
}
.social-icons .icons li a {
    color: #03A9F4;
    text-decoration: none;
    font-size: 24px;
}
.social-icons .icons li a:hover {
    color: #F44336;
}

.modal .modal-content h4{
  margin: 10px 20px;
  font-weight: 700;
}

.modal .modal-content p{
  text-align: justify;
  margin: auto 30px;
}