<div class="about">
  <p class="description">{{ page.description }}</p>

  <h2 class="about-title">My skills:</h2>
  <ul class="skills">
    <li class="skill">Programming Languages: <span class="italic">Python, JavaScript, Ruby</span></li>
    <li class="skill">Frameworks: <span class="italic">FastAPI, Django, Flask, Vue JS, Ruby on Rails</span></li>
  </ul>

  <h2 class="about-title">Find me here:</h2>
  <ul class="social-links">
    <li><a href="https://github.com/kevyder/" target="_blank" class="social-link">Github</a></li>
    <li><a href="https://www.linkedin.com/in/kevin-rodriguez-backend-developer/" target="_blank" class="social-link">LinkedIn</a></li>
    <li><a href="https://x.com/kevyder" target="_blank" class="social-link">X</a></li>
    <li><a href="https://www.instagram.com/thekevshot/" target="_blank" class="social-link">Instagram</a></li>
  </ul>
</div>