<div class="about">
  <p class="description">{{ page.description }}</p>

  <ul class="social-links">
    <li><a href="https://github.com/kevyder/" target="_blank" class="social-link">Github</a></li>
    <li><a href="https://www.linkedin.com/in/kevin-rodriguez-backend-developer/" target="_blank" class="social-link">LinkedIn</a></li>
    <li><a href="https://medium.com/@kevyder" target="_blank" class="social-link">Medium</a></li>
    <li><a href="https://www.instagram.com/thekevshot/" target="_blank" class="social-link">Instagram</a></li>
  </ul>
</div>