<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#2B0059">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta http-equiv="Refresh" content="url=https://kevyder.dev/">

  <!-- open graph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://kevyder.dev">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:image" content="https://kevyder.dev/hello.png">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="es_CO">
  <!-- /open graph -->

  <!-- twitter card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Kevin Rodríguez - Python Backend Developer" />
  <meta name="twitter:site" content="@kevyder" />
  <meta name="twitter:domain" content="kevyder" />
  <meta name="twitter:creator" content="@kevyder" />
  <meta name="twitter:image" content="https://kevyder.dev/hello.png" />
  <meta name="twitter:url" content="https://kevyder.dev/">
  <!-- /twitter card -->

  <!-- pinterest -->
  <meta name="p:domain_verify" content="bdbb057e8347424e9f28b56e9c7c1d93" />
  <!-- /pinterest -->

  <link rel="canonical" href="https://kevyder.dev/">
  <link rel="shortcut icon" href="favicon.ico" />
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">
  <script src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>
</head>