<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#181b19">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Kevin Rodríguez is a passionate software engineer, dedicated eternal learner, and weekend street photographer from Bogotá, Colombia">
  <meta http-equiv="Refresh" content="url=https://kevyder.dev/">

  <!-- open graph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://kevyder.dev">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:image" content="https://kevyder.dev/icons/op-image.png">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="es_CO">
  <!-- /open graph -->

  <!-- twitter card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Kevin Rodríguez - Software Engineer" />
  <meta name="twitter:site" content="@kevyder" />
  <meta name="twitter:domain" content="kevyder" />
  <meta name="twitter:creator" content="@kevyder" />
  <meta name="twitter:image" content="https://kevyder.dev/icons/op-image.png" />
  <meta name="twitter:url" content="https://kevyder.dev/">
  <!-- /twitter card -->

  <!-- pinterest -->
  <meta name="p:domain_verify" content="bdbb057e8347424e9f28b56e9c7c1d93" />
  <!-- /pinterest -->

  <link rel="canonical" href="https://kevyder.dev/">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
  <link rel="manifest" href="icons/site.webmanifest">
  <!-- /Favicons -->

  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">
  <script src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>
</head>