<div class="main">
  <h2 class="glitch">Hello World!</h2>
  <p class="description">{{ page.description }}</p>
  <ul class="icons">
    <li><a href="https://github.com/kevyder/" target="_blank" class="social-icon"> <i class="fa fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/kevin-rodriguez-backend-developer/" target="_blank" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://medium.com/@kevyder" target="_blank" class="social-icon"> <i class="fa fa-medium"></i></a></li>
    <li><a href="https://www.instagram.com/thekevshot/" target="_blank" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
  </ul>
  <a data-easing="easeOutCubic" href="#projects" class="scroll-down" address="true"></a>
</div>