<div class="projects">
  <h2 class="projects-title">Featured Projects:</h2>
  <div id="project-wrapper">
    {% assign projects = site.projects | sort: 'order' %}
    {% for project in projects %}
      <a class="project_link" target="_blank" href="{{ project.source }}">
        <div class="project">
          <h3 class="project_title">{{ project.title }}: {{ project.description }}</h3>
          <p class="project_stack">Stack: {{ project.stack }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</div>