<div class="skills-section" id="skills">
  <div class="middle-container">
    <div class="textcontent">
      <h2>Skills</h2>
      <p>I have experience working with multiple programming languages, including Python, JavaScript, and Ruby. On the
        backend, I’ve built applications using frameworks such as Django, FastAPI, Flask, and Ruby on Rails, while on
        the frontend I’ve worked with Vue.js to create dynamic and responsive user interfaces. This combination allows
        me to develop full-stack solutions, from robust backend APIs to engaging frontend experiences.</p>
    </div>
  </div>
</div>