
header {
  height: 10%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lines-button,
.option:hover:after {
  border-radius: 20px;
  background-color: #fff;
}
.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: inline-block;
  margin-left: 10%;
}
.mobile-button {
  width: 30px;
  height: 50px;
  margin-right: 10%;
  display: none;
}
.lines-button {
  height: 3px;
  width: 30px;
  position: relative;
  top: 50%;
  transition: .3s;

  &::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
  }
  &::before {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 0;
  }
  &::after {
    top: -10px;
    left: 0;
  }
}
.close-lines {
  transform: rotate(45deg);

  &::before {
    top: 0;
    transform: rotate(-95deg);
  }
  &::after {
    display: none;
  }
}
.title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}
.container-options {
  margin-right: 10%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.option {
  a {
    margin: .5rem;
    font-size: 1.2rem;
    color: #fff;
  }
  &:hover {
    position: relative;

    &:after {
      content: "";
      width: 80%;
      height: 2px;
      position: absolute;
      bottom: 5px;
      left: 10%;
      right: 10%;
    }
  }
}