
$dark-turquoise: #30d5c8;

header {
  height: 10%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.ascii-art {
  display: inline-block;
  animation: shake 2s ease-in-out;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

.lines-button,
.option:hover:after {
  border-radius: 20px;
  background-color: #fff;
}
.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: inline-block;
  margin-left: 10%;
  @media (max-width: 768px) {
    margin-left: 5%;
  }
}
.mobile-button {
  width: 30px;
  height: 50px;
  margin-right: 10%;
  display: none;
  cursor: pointer;
  z-index: 100;

  @media (max-width: 768px) {
    display: block;
  }
}
.lines-button {
  height: 3px;
  width: 30px;
  position: relative;
  top: 50%;
  transition: .3s;

  &::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
  }
  &::before {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 0;
  }
  &::after {
    top: -10px;
    left: 0;
  }
}
.close-lines {
  transform: rotate(45deg);

  &::before {
    top: 0;
    transform: rotate(-95deg);
  }
  &::after {
    display: none;
  }
}
.title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;

  .name {
    display: inline-block;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.container-options {
  margin-right: 10%;
  display: flex;
  justify-content: space-around;

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: right 0.3s ease-in-out;

    &.active {
      right: 0;
    }
  }
}
.option {
  a {
    margin: .5rem;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    line-height: 1.8rem;
    text-decoration: underline;

    &:hover {
      color: $dark-turquoise;
      border-color: $dark-turquoise;
      text-decoration: underline;
    }
  }
}