$dark-turquoise: #30d5c8;
$gray-text: #B3B3B3;

.main {
  min-height: 90%;
  width: 100%;
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 80%;
    margin: 10% 5%;
  }

  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

  .accentuated {
    font-weight: bold;
    color: $dark-turquoise;
    gap: 2px;

    &::after {
      content: "";
      width: 2px;
      height: 1.3rem;
      background: $dark-turquoise;
      display: inline-block;
      margin-left: 2px;
      margin-bottom: -1px;
      animation: cursor-blink 1.25s steps(2) infinite;
    }
  }

  .italic {
    font-style: italic;
  }

  // about me section
  .about {
    width: 35%;
    margin: 2.5% 5% 2.5% 10%;

    @media (max-width: 768px) {
      width: 100%;
      margin: 2rem 0;
    }

    .description {
      font-size: 1.3rem;
      line-height: 1.8rem;
      margin-bottom: 2rem;

      @media (max-width: 768px) {
        font-size: 1.1rem;
      }
    }

    .about-title {
      font-size: 1.3rem;
      margin: 4rem 0 1rem 0;

      @media (max-width: 768px) {
        margin: 2rem 0 1rem 0;
      }
    }

    .skills {
      list-style: none;
      padding: 0;
      margin-bottom: 2rem;
      color: $gray-text;

      @media (max-width: 768px) {
        margin-bottom: 1.5rem;
      }

      .skill {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
        line-height: 1.5rem;

        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }

    .social-links {
      li {
        display: inline;
        margin-right: .5rem;

        .social-link {
          font-size: 1.1rem;
          text-decoration: underline;
          color: #ffffff;
          font-weight: bold;
          border-bottom: 2px solid transparent;
          transition: border-color 0.3s;
          line-height: 1.8rem;

          &:hover {
            color: $dark-turquoise;
            border-color: $dark-turquoise;
          }
        }
      }
    }

    @media (max-width: 768px) {
      li {
        display: block !important;
        margin: 0.5rem 0;
      }
    }
  }

  // projects section
  .projects {
    width: 35%;
    margin: 2.5% 10% 2.5% 5%;

    @media (max-width: 768px) {
      width: 100%;
      margin: 2rem 0;
    }

    .projects-title {
      font-size: 1.3rem;
    }

    #project-wrapper {
      display: block;
      margin: 0 auto 1rem auto;
      overflow-x: hidden;

      @media (max-width: 768px) {
        margin: 1rem 0;
      }
    }

    .project_link {
      &:nth-child(1) .project {
        margin-top: 15px;
      }

      &:nth-last-child(1) .project {
        margin-bottom: 15px;
      }
    }

    .project {
      padding: 1rem;
      color: $gray-text;

      &:hover {
        border-bottom: 1px solid $dark-turquoise;
        color: $dark-turquoise;
      }

      @media (max-width: 768px) {
        padding: 1.5rem 0 1.5rem 0;
      }
    }

    .project_title {
      font-size: 1.1rem;
    }

    .project_stack {
      font-size: 1rem;
    }
  }
}
