---
---

@import url('https://fonts.cdnfonts.com/css/superhelio?styles=9424');


* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body,
html {
  height: 100%;
  max-width: 100%;
  font-family: 'superhelio _regular', sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #181b19;
  color: #ffffff;
}

@import "app";