---
---

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: 'superhelio';
  src: url('/fonts/superhelio-regular.TTF') format('truetype');
  font-display: swap;
}

body,
html {
  height: 100%;
  max-width: 100%;
  font-family: 'superhelio', sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #181b19;
  color: #ffffff;
}

@import "app";
