<!DOCTYPE html>
<html dir="ltr" lang="en">
  {% include head.html %}
<body>
  {% include header.html %}
  {% include main-section.html %}
  <!-- {% include projects.html %}
	{% include skills.html %}
  {% include footer.html %} -->
</body>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NZ0F1BBGJ6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NZ0F1BBGJ6');
</script>
</html>