<!DOCTYPE html>
<html dir="ltr" lang="en">
  {% include head.html %}
<body>
  {% include header.html %}
  {% include main-section.html %}
  {% include projects.html %}
	{% include about.html %}
  {% include footer.html %}
</body>
<script src="https://use.fontawesome.com/2daf369e94.js"></script>
<script src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>
<script>
	var linear = new SmoothScroll('[data-easing="easeOutCubic"]', {easing: 'easeOutCubic', speed: 1000});
</script>
<script>
   WebFontConfig = {
	   google: {
		families: ['Hind', 'Source Sans Pro']
	   }
   };

   (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
      wf.async = true;
      s.parentNode.insertBefore(wf, s);
   })(document);
</script>
</html>